<div id="intro">
  <a class="default" (click)="toggleMute()">
    <div class="escapa" (click)="hideAndMute()"></div>
    <video id="videointro" class="embed-responsive embed-responsive-4by3" playsinline="playsinline" autoplay="autoplay" muted="muted">
      <source src="../../../assets/Video/mira.mp4" type="video/mp4">
    </video>
  </a>

  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
    </div>
  </div>
</div>

<div id="seguida" class="container-fluid hide">
  <div>
    <div class="overlay"></div>
    <video class="embed-responsive marginbottom" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="../../../assets/Video/tv_header.mp4" type="video/mp4">
    </video>
  </div>


  <!--PAGE on-->
  <!-----------SOCIAU--------------->
  <div class="computermenu d-flex justify-content-center">
    <a class="apple" href="https://music.apple.com/fr/artist/rod%C3%ADn/1495701565" target="_blank"></a>
    <a class="spotify" href="https://open.spotify.com/artist/7cMWfV0yjQ0GPs8fiDp3UA?si=GxRTmzsrSHCsYbFS-_ipHw" target="_blank"></a>
    <a class="instagram" href="https://instagram.com/rodiin" target="_blank"></a>
    <a class="facebook" href="https://www.facebook.com/pantaisclus" target="_blank"></a>
    <a class="twitter" href="https://twitter.com/pantaisclus" target="_blank"></a>
    <a class="bandcamp" href="https://rodiin.bandcamp.com" target="_blank"></a>
    <a class="soundcloud" href="https://soundcloud.com/rodiin" target="_blank"></a>
    <a class="youtube" href="https://www.youtube.com/c/rodínmusica" target="_blank"></a>
  </div>
  <!-----------FIN_SOCIAU--------------->
  <br/>

  <!----LIGNE4-------->
  <div class="row">
    <!-- colonne GAUCHE -->
    <div class="col-sm">
      <!-- leisalas snippet#5 -->
      <img src="../../../assets/Images/nextvideo3.png" class="img-fluid" alt="Responsive image">
    </div>
    <!-- fin colonne GAUCHE -->
    <!-- colonne CENTRE -->
    <div class="col-sm">
      <!-- pantaisclus snippet#7 -->
      <img src="../../../assets/Images/nextvideo2.png " class="img-fluid" alt="Responsive image">
    </div>
    <!-- fin colonne CENTRE -->
    <!-- colonne DROITE -->
    <div class="col-sm">
      <!-- leisalas snippet#4 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/_NqtCfO14Co"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne DROITE -->
  </div>
  <!----3 Colonnes LIGNE 4OFF-------->

  <!--vid CLIP ALAS-->
  <article>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/d2oZEsEaP_g"></iframe>
    </div>
  </article>


  <!----LIGNE4-------->
  <div class="row">
    <!-- colonne GAUCHE -->
    <div class="col-sm">
      <!-- pantaisclus snippet#6 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/trNIwr0bX0Y"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne GAUCHE -->
    <!-- colonne CENTRE -->
    <div class="col-sm">
      <!-- leisalas snippet#3 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/p2fTQxA6Vqo"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne CENTRE -->
    <!-- colonne DROITE -->
    <div class="col-sm">
      <!-- pantaisclus snippet#5 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/BoniVqRtV4A"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne DROITE -->
  </div>
  <!----3 Colonnes LIGNE 4OFF-------->

  <!----LIGNE3-------->
  <div class="row">
    <!-- colonne GAUCHE -->
    <div class="col-sm">
      <!-- leisalas snippet#2 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/nDTFiy508E8"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne GAUCHE -->
    <!-- colonne CENTRE -->
    <div class="col-sm">
      <!-- pantaisclus snippet#4 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/pVJxaop7ZsU"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne CENTRE -->
    <!-- colonne DROITE -->
    <div class="col-sm">
      <!-- leisalas snippet#1 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src=" https://www.youtube.com/embed/FsATnaqNMu4"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne DROITE -->
  </div>
  <!----3 Colonnes LIGNE 3OFF-------->

  <!----LIGNE2-------->
  <div class="row">
    <!-- colonne GAUCHE -->
    <div class="col-sm">
      <!-- pantaisclus snippet#3 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/Ur6b20ftJbM"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne GAUCHE -->
    <!-- colonne CENTRE -->
    <div class="col-sm">
      <!-- estile_liure#1 snippet -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/oYnmpnaWRKc"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne CENTRE -->
    <!-- colonne DROITE -->
    <div class="col-sm">
      <!-- pantaisclus snippet#2 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/4jT6DYOfL_E"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne DROITE -->
  </div>
  <!----3 Colonnes LIGNE 2OFF-------->


  <!----LIGNE1-------->
  <div class="row">
    <!-- colonne GAUCHE -->
    <div class="col-sm">
      <!-- s'envòla snippet#2 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/PyFK6cGxO6w"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne GAUCHE -->
    <!-- colonne CENTRE -->
    <div class="col-sm">
      <!-- pantaisclus snippet#1 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/YGl93a611g8"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne CENTRE -->
    <!-- colonne DROITE -->
    <div class="col-sm">
      <!-- s'envòla snippet#1 -->
      <article>
        <div class="embed-responsive embed-responsive-4by3">
          <iframe class="embed-responsive-item" frameborder="0" allowfullscreen src="https://www.youtube.com/embed/nHP4GznSV0U"></iframe>
        </div>
      </article>
    </div>
    <!-- fin colonne DROITE -->
  </div>
  <!----3 Colonnes LIGNE 1OFF-------->

</div>
