<div class="container-fluid paginanonanta">

  <nav class="navbar navbar-expand navbar-light topnavbar fixed-top">
    <img src="../../../assets/Images/logo_headermenu.svg"/>
    <div class="" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item titolmenu">
          <b>PANTAIS CLUS</b>
        </li>
        <li class="nav-item">
          <a class="nav-link" href>Themes</a>
        <li class="nav-item">
          <a class="nav-link" href>Credits</a>
      </li>
      </ul>
    </div>
  </nav>

  <div class="section-icons is-absolute">
    <ul>
      <li>
        <div class="magazineicone icone image-wrapper">
          <img src="">
        </div>
        <span>Magazine</span>
      </li>
      <li></li>
      <li></li>
    </ul>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>


</div>

<!--(click)="hideAndMute()">-->
<!--playlist youtube-->
<!--player soundcloud-->
<!--https://material.angular.io/cdk/drag-drop/overview
npm i @angular/cdk-->
<!--https://poolside.fm/-->

