@font-face {
  font-family: "Chicago";
  src: url("../../../Fonts/Chicago.ttf") format("truetype");
}
* {
  box-sizing: border-box;
  cursor: url(../../../assets/Images/cursor.svg), auto!important;
  font-family: "Chicago";
}

/* .paginanonanta {
} */

#nonanta>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  min-height: stretch;
}
a:-webkit-any-link {
  cursor: url(../../../assets/Images/cursor_det.svg), auto!important;
}
:not(input):not(textarea) {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*******THEME*******/
.imagefond{
  z-index: -1000;
}

/*******NavbarMenu*******/

.topnavbar {
  background-color: var(--grisclar);
  border-color: var(--grisescur);
}

.navbar {
  padding: 0rem 1rem;
}

.nav-link{
  font-size: 0.9rem;
  padding: 0.1rem 1rem
}

.titolmenu{
  display: block;
  font-size: 0.9rem;
  padding: 0.1rem 1rem;
  -webkit-font-smoothing: antialiased;
}

.navbar-light .navbar-nav .nav-link, .titolmenu {
  color: rgba(0,0,0,.5);
}

.navbar-expand .navbar-nav .nav-link, .titolmenu {
  padding-right: .5rem;
  padding-left: .5rem;
}

.draggable-bounds {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: auto;
  overflow: hidden;
}

/*******FENESTRAS*******/

/*******Icònas*******/
.section-icons ul li * {
  cursor: url("../../../assets/Images/cursor_det.svg") 3 0,auto!important;
}
.section-icons {
  pointer-events: none;
}

.section-icons.is-absolute {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.section-icons * {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.section-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.section-icons ul li {
  pointer-events: all;
  width: 76px;
  height: 70px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-icons ul, .section-icons ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-icons ul .image-wrapper {
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 7px;
}

.section-icons ul .image-wrapper img {
  max-height: 35px;
  display: block;
  margin: auto;
}
.section-icons ul span {
  display: block;
  cursor: pointer;
  font-family: Arial;
  font-size: 0.9rem; /**/
  padding: 0 2px;
  background: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #effbfe;
  width: 64px;
  background: rgb(216, 215, 231);
  border-color: rgb(216, 215, 231);

}
