<div id="nonanta" class="container-fluid paginanonanta">
  <div>
    <!--NAVBAR-->
    <nav class="navbar navbar-expand navbar-light topnavbar fixed-top">
      <img src="../../../assets/Images/logo_headermenu.svg"/>
      <div class="" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item titolmenu">
            <b>PANTAIS CLUS</b>
          </li>
          <li class="nav-item">
            <a class="nav-link" href>Themes</a>
          <li class="nav-item">
            <a class="nav-link" href>Credits</a>
        </li>
        </ul>
      </div>
    </nav>

    <section class="draggable-bounds img-fluid  mx-auto d-block  imagefond" style="background-image: url('../../../assets/Images/themepantalla/imatgefons.jpeg');">
      <img class="img-fluid  mx-auto d-block  imagefond" src="../../../assets/Images/themepantalla/imatgefons.jpeg" alt="fond header">
      <div>
        <!----Fenèstras---->
        <div class="component-outer" ><!--style="z-index: 6;"-->
          <div class="global-item fenestraCredits " style="transform: translate(20px, 20px); z-index: auto; user-select: auto; background: rgb(255, 201, 201); width: 300px; height: 200px;"> <!--active  draggable resizable vdr-->
            <!--<div class="handle handle-br" style="display: block;"></div> RESIZE POUR PLUS TARD-->
            <div class="drag-header">
              <span class="icon"></span>
              <!--<span class="spacer"><i></i><i></i><i></i><i></i><i></i><i></i></span>-->
              <h2>Credits</h2>
            </div>
            <div  class="inner-wrapper inner-wrapper-credits"> <!--A INTEGRER ICI-->
              <div  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                contenteditable="true" class="inner-content texteditorform">
                Poolside FM was conceived one awfully rainy summer in the Highlands of Scotland
                - a virtual vacation, if you will.
                The audio and video streams are curated to inject a healthy dose of serotonin into your brain.
                <br>
                <br> Our Instagram account,
                <span   contenteditable="false">
                  <a   href="https://www.instagram.com/poolsidefm" target="blank">@poolsidefm</a>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="section-icons is-absolute">
      <ul>
        <li>
          <div>
            <div class="radioicone icone image-wrapper">
              <img src="../../../assets/Images/icones/iconeradio.png">
            </div>
            <span style="width: 43px;">Radio</span>
        </div>
        </li>
        <li>
          <div>
            <div class="tvicone icone image-wrapper">
              <img src="../../../assets/Images/icones/iconetv.png">
            </div>
            <span style="width: 68px;">Television</span>
          </div>
        </li>
        <li>
          <div>
            <div class="videoclubicone icone image-wrapper">
              <img src="../../../assets/Images/icones/iconevideoclub.png">
            </div>
            <span style="width: 71px;">VideoClub</span>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div>
            <div>
              <div class="magazineicone icone image-wrapper">
                <img src="../../../assets/Images/icones/iconemagazine.png">
              </div>
              <span style="width: 68px;">Magazine</span>
            </div>
          </div>
        </li>
        <li>
          <div>
            <div class="boutiqueicone icone image-wrapper">
              <img src="../../../assets/Images/icones/iconeboutique.png">
            </div>
            <span style="width: 62px;">Boutique</span>
          </div>
        </li>
        <li>
          <div>
            <div class="booksicone icone image-wrapper">
              <img src="../../../assets/Images/icones/iconebooks.png">
            </div>
            <span style="width: 46px;">Books</span>
          </div>
        </li>
      </ul>
    </div>


  </div>
</div>

<!--(click)="hideAndMute()">-->
<!--playlist youtube-->
<!--player soundcloud-->
<!--https://material.angular.io/cdk/drag-drop/overview
npm i @angular/cdk-->


